<?php if (!defined('_GNUBOARD_')) exit;

add_stylesheet('<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../plugins/eyoom-form/css/eyoom-form.min.css" type="text/css" media="screen">',0);
//add_stylesheet('<link rel="stylesheet" href="../plugins/owl-carousel/owl-carousel/owl.carousel.css" type="text/css" media="screen">',0);
if (G5_IS_MOBILE) {
add_stylesheet('<link rel="stylesheet" href="../css/style_m.min.css" type="text/css" media="screen">',0);
} else {
add_stylesheet('<link rel="stylesheet" href="../css/style.min.css" type="text/css" media="screen">',0);
}
?>

<!--{? !_wmode }-->
<div class="wrapper">
<!--{? !C.G5_IS_MOBILE}-->
<!--{* PC 화면 시작 *}-->
	<div class="header-fixed basic-layout">
		<!--{* Header Nav *}-->
		<div class="header-nav nav-background-light header-sticky">
			<!--{* Header Topbar *}-->
			<div class="header-topbar">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-unstyled topbar-left">
								<li><a id="bookmarkme" href="javascript:void(0);" rel="sidebar" title="bookmark this page">즐겨찾기</a></li>
								<!--{? _is_admin //관리자일 경우}-->
								<li><a href="{C.G5_BBS_URL}/current_connect_admin.php">접속자 {connect.total_cnt}{? connect.mb_cnt} (<span>{connect.mb_cnt}</span>){/}</a></li>
								<li><a href="{C.G5_BBS_URL}/new_admin.php">새글</a></li>
								<!--{/}-->
								<li><a href="{C.G5_BBS_URL}/faq.php">FAQ</a></li>
								<li><a href="{C.G5_BBS_URL}/qalist.php">1:1문의</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-unstyled topbar-right">
								<!--{? _is_member //회원일 경우}-->
									<!--{? _is_admin == 'super' //관리자일 경우}-->
									<li><a href="{C.G5_ADMIN_URL}">관리자</a></li>
									<!--{/}-->
									<li><a href="{C.G5_BBS_URL}/member_confirm.php?url={C.G5_BBS_URL}/register_form.php">정보수정</a></li>
									<li><a href="{C.G5_BBS_URL}/logout.php">로그아웃</a></li>
									<!--{* 쪽지 최신글 *}-->

									{latest->latest_memo('memo_latest','count=6||cut_subject=20||photo=y')}
									<!--{* 내글반응 최신글 *}-->

									{latest->latest_respond('respond_latest','count=6||cut_subject=20||photo=y')}
								<!--{: //비회원일 경우}-->
									<li><a href="{C.G5_BBS_URL}/register.php">회원가입</a></li>
									<li><a href="{C.G5_BBS_URL}/login.php">로그인</a></li>
								<!--{/}-->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--{* End Header Topbar *}-->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<div class="menu-container">
						<!--{* ------------- Header Logo 영역 시작 ------------- *}-->
						<div class="header-logo">
							<a class="navbar-brand" href="{C.G5_URL}"><img src="../image/lebolution_logo.png" class="img-responsive" alt="{config.cf_title} LOGO"></a>
						</div>
						<!--{* ------------- Header Logo 영역 끝 ------------- *}-->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="fa fa-align-justify"></span>
						</button>
						<!--{? _is_admin //관리자일 경우}-->
						<div class="nav-in-right">
							<ul class="menu-icons-list">
								<li class="menu-icons">
									<i class="menu-icons-style search search-close search-btn fa fa-search"></i>
								</li>
							</ul>
						</div>
						<!--{/}-->
					</div>
					<!--{? _is_admin //관리자일 경우}-->
					<div class="menu-container">
						<div class="search-open">
							<form name="fsearchbox" method="get" action="{C.G5_BBS_URL}/search.php" onsubmit="return fsearchbox_submit(this);">
							<input type="hidden" name="sfl" value="wr_subject||wr_content">
							<input type="hidden" name="sop" value="and">
							<label for="sch_stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
							<input type="text" name="stx" id="sch_stx" maxlength="20" class="form-control" class="form-control" placeholder="전체검색... [검색어를 입력하세요]">
							</form>
							<script>
							function fsearchbox_submit(f) {
								if (f.stx.value.length < 2 || f.stx.value == $("#sch_stx").attr("placeholder")) {
									alert("검색어는 두글자 이상 입력하십시오.");
									f.stx.select();
									f.stx.focus();
									return false;
								}
								var cnt = 0;
								for (var i=0; i<f.stx.value.length; i++) {
									if (f.stx.value.charAt(i) == ' ') cnt++;
								}
								if (cnt > 1) {
									alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
									f.stx.select();
									f.stx.focus();
									return false;
								}
								return true;
							}
							</script>
						</div>
					</div>
  					<!--{/}-->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<div class="menu-container">
							<ul class="nav navbar-nav">
								<!--{* Menu *}-->
								<!--{? _is_member}-->
									<!--{? _is_admin || member.mb_woman == 0 || member.mb_woman == 3}-->
									<li><a href="{C.G5_BBS_URL}/board.php?bo_table=levelup"><i class="fa fa-pencil-square-o"></i> 등업신청</a></li>
									<!--{/}-->

									<!--{? member.mb_level > 2}-->
										<!--{@ menu}-->
											<!--{? .active}-->
												<?php $liClass = 'active' ?>
											<!--{/}-->
											<!--{? menu.submenu}-->
												<?php $space = '' ?>
												<!--{? .active}-->
												<?php $space = ' ' ?>
												<!--{/}-->
												<?php $liClass = $space.'dropdown' ?>
											<!--{/}-->
											<li<!--{? .active}--> class="<?php echo $liClass; ?>"<!--{/}-->>
												<a href="{.me_link}" target="_{.me_target}" class="dropdown-toggle"<!--{? menu.submenu}--> data-hover="dropdown"<!--{/}-->>
													<!--{? .me_icon}--><i class="fa {.me_icon}"></i> <!--{/}-->{.me_name}<!--{? .new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}-->
												</a>
												<!--{@ submenu}-->
													<!--{? ..index_ == 0}-->
													<ul class="dropdown-menu">
													<!--{/}-->
														<li class="dropdown-submenu {? ..active}active{/}">
															<a href="{..me_link}" target="_{..me_target}"><!--{? ..me_icon}--><i class="fa {..me_icon}"></i> <!--{/}-->{..me_name}<!--{? ..new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}--><!--{? ..sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
															<!--{@ subsub}-->
																<!--{? ...index_ == 0}-->
																<ul class="dropdown-menu {? ...active}active{/}">
																<!--{/}-->
																	<li class="dropdown-submenu">
																		<a href="{...me_link}" target="_{...me_target}"><!--{? ...me_icon}--><i class="fa {...me_icon}"></i> <!--{/}-->{...me_name}<!--{? ...new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}--><!--{? ...sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
																	</li>
																<!--{? ...index_ == ...size_-1}-->
																</ul>
																<!--{/}-->
															<!--{/}-->
															<!--{* End subsubMenu 반복 *}-->
														</li>
													<!--{? ..index_ == ..size_-1}-->
													</ul>
													<!--{/}-->
												<!--{/}-->
												<!--{* End subMenu 반복 *}-->
											</li>
										<!--{/}-->
										<!--{* End Menu 반복 *}-->
									<!--{/}-->
								<!--{/}-->
								<!--{* End Menu *}-->
							</ul>
						</div>
					</div><!--{* navbar-collapse *}-->
				</div>
			</div>
			<!--{* End Navbar *}-->
		</div>
		<!--{* End Header Nav *}-->

		<div class="header-sticky-space"></div>

		<!--{? !defined('_INDEX_')}-->
		<!--{* Page Title *}-->
  		<div class="board-title">
  			<div class="container">
  				<h3 class="pull-left"><i class="fa fa-map-marker"></i> <a href="{subinfo.title_link}">{subinfo.title}</a></h3>
  			</div>
  		</div>
		<!--{* End Board Title *}-->
		<!--{/}-->
		<!--{* Basic Body *}-->
		<div class="basic-body container">
			<div class="row">
				<!--{? eyoom.use_main_side_layout == 'y'}-->
				<div class="basic-body-main col-sm-9">
				<!--{:}-->
				<div class="basic-body-main col-md-12">
				<!--{/}-->
<!--{* PC 화면 끝 *}-->


<!--{:}-->
<!--{* 모바일 화면 시작 *}-->
	<div class="header-fixed basic-layout">
		<!--{* Header Nav *}-->
		<div class="header-nav nav-background-light header-sticky">
			<!--{* Header Topbar *}-->
			<div class="header-topbar">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-unstyled topbar-left">
								<!--{? _is_admin //관리자일 경우}-->
								<li><a href="{C.G5_BBS_URL}/current_connect_admin.php">접속자 {connect.total_cnt}{? connect.mb_cnt} (<span>{connect.mb_cnt}</span>){/}</a></li>
								<li><a href="{C.G5_BBS_URL}/new_admin.php">새글</a></li>
								<!--{/}-->
								<li><a href="{C.G5_BBS_URL}/faq.php">FAQ</a></li>
								<li><a href="{C.G5_BBS_URL}/qalist.php">1:1문의</a></li>
							</ul>
						</div>

						<div class="col-md-6">
							<ul class="list-unstyled topbar-right">
								<!--{? _is_member //회원일 경우}-->
									<!--{? _is_admin == 'super' //관리자일 경우}-->
									<li><a href="{C.G5_ADMIN_URL}">관리자</a></li>
									<!--{/}-->
									<!--{* 쪽지 최신글 *}-->
									{latest->latest_memo('memo_latest','count=8||cut_subject=20||photo=y')}
									<!--{* 내글반응 최신글 *}-->
									{latest->latest_respond('respond_latest','count=8||cut_subject=20||photo=y')}
								<!--{: //비회원일 경우}-->
									<li><a href="{C.G5_BBS_URL}/register.php">회원가입</a></li>
									<li><a href="{C.G5_BBS_URL}/login.php">로그인</a></li>
								<!--{/}-->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--{* End Header Topbar *}-->
			<div class="lb_m_header">
				<!--{* ------------- Header Logo 영역 시작 ------------- *}-->
				<!--{? defined('_INDEX_')}-->

				<div class="header-logo"><a class="navbar-brand" href="{C.G5_URL}"><img src="../image/lebolution_logo.png" class="img-responsive" alt="{config.cf_title} LOGO"></a></div>
				<!--{:}-->
				<span class="lbbread"><a href="{subinfo.title_link}">{subinfo.title}</a></span>
				<!--{/}-->
				<!--{* ------------- Header Logo 영역 끝 ------------- *}-->

				<!--{? _is_member}-->
				<div class="lb_toggle btn_menu">
					<button type="button">
						<span class="sr-only">기본 메뉴 열기</span>
						<span class="fa fa-bars"></span>
					</button>
				</div>
				<div class="lb_toggle btn_myinfo">
					<button type="button">
						<span class="sr-only">내 메뉴 열기</span>
						<span class="fa fa-user-circle"></span>
					</button>
				</div>
				<!--{/}-->
			</div>
			<!--{* End Topbar *}-->
		</div>
		<!--{* End Header Nav *}-->

		<div class="header-sticky-space"></div>

		<div class="lb_m_nav left" role="navigation">
			<div class="lb_m_nav_cont">
				<div class="lb_m_nav_top">
					<a class="navbar-brand" href="{C.G5_URL}"><img src="../image/lebolution_logo2.png" class="img-responsive" alt="{config.cf_title} LOGO"></a>
					<a href="#" class="btn_navClose"><span class="sr-only">메뉴 닫기</span><i class="fa fa-times"></i></a>
				</div>
				<div class="lb_m_nav_menu">
					<ul>
						<!--{* Menu *}-->
						<!--{? _is_member}-->
							<!--{? _is_admin || member.mb_woman == 0 || member.mb_woman == 3}-->
							<li><a href="{C.G5_BBS_URL}/board.php?bo_table=levelup"><i class="fa fa-pencil-square-o"></i> 등업신청</a></li>
							<!--{/}-->
							<!--{? member.mb_level > 2}-->
								<!--{@ menu}-->
									<!--{? .active}-->
										<?php $liClass = 'active' ?>
									<!--{/}-->
									<!--{? menu.submenu}-->
										<?php $space = '' ?>
										<!--{? .active}-->
										<?php $space = ' ' ?>
										<!--{/}-->
										<?php $liClass = $space.'dropdown' ?>
									<!--{/}-->
									<li<!--{? .active}--> class="<?php echo $liClass; ?>"<!--{/}-->>
										<a href="{.me_link}" target="_{.me_target}" class="dropdown-toggle"<!--{? menu.submenu}--> data-toggle="dropdown"<!--{/}-->>
											<!--{? .me_icon}--><i class="fa {.me_icon}"></i> <!--{/}-->{.me_name}<!--{? .new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}-->
										</a>
										<!--{@ submenu}-->
											<!--{? ..index_ == 0}-->
											<ul class="dropdown-menu">
											<!--{/}-->
												<li class="dropdown-submenu {? ..active}active{/}">
													<a href="{..me_link}" target="_{..me_target}"><!--{? ..me_icon}--><i class="fa {..me_icon}"></i> <!--{/}-->{..me_name}<!--{? ..new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}--><!--{? ..sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
													<!--{@ subsub}-->
														<!--{? ...index_ == 0}-->
														<ul class="dropdown-menu {? ...active}active{/}">
														<!--{/}-->
															<li class="dropdown-submenu">
																<a href="{...me_link}" target="_{...me_target}"><!--{? ...me_icon}--><i class="fa {...me_icon}"></i> <!--{/}-->{...me_name}<!--{? ...new}-->&nbsp;<i class="fa fa-check-circle color-red"></i><!--{/}--><!--{? ...sub=='on'}--><i class="fa fa-angle-right sub-caret hidden-sm hidden-xs"></i><i class="fa fa-angle-down sub-caret hidden-md hidden-lg"></i><!--{/}--></a>
															</li>
														<!--{? ...index_ == ...size_-1}-->
														</ul>
														<!--{/}-->
													<!--{/}-->
												</li>
											<!--{? ..index_ == ..size_-1}-->
											</ul>
											<!--{/}-->
										<!--{/}-->
									</li>
								<!--{/}-->
								<!--{* End Menu 반복 *}-->
							<!--{/}-->
						<!--{/}-->
						<!--{* End Menu *}-->
					</ul>
				</div>
			</div>
		</div>

		<!--{? member.mb_id && member.mb_level > 1}-->
		<div class="lb_m_nav right" role="navigation">
			<div class="lb_m_nav_cont">
				<div class="lb_m_nav_top">
					<a href="#" class="btn_navClose"><span class="sr-only">메뉴 닫기</span><i class="fa fa-times"></i></a>
				</div>
				<div class="lb_m_nav_myinfo">
						<!--{* 아웃로그인 모바일에서는 회원 로그인 시에만 아웃로그인 스킨을 보여준다 *}-->
						<!--{? _is_member}-->
							<!--{? eyoom.use_gnu_outlogin == 'y'}-->{=outlogin('basic')}<!--{:}-->{=eb_outlogin(eyoom.outlogin_skin)}<!--{/}-->
						<!--{/}-->
						<div class="lb_m_nav_menu">
						<ul>
							<li class="open">
								<a href="/bbs/board.php?bo_table=meet" target="_self" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-heart"></i> 내 메뉴</a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<a href="{C.G5_BBS_URL}/memo.php" target="_blank">쪽지 <span class="badge badge-red rounded-2x">{memo_not_read}</span></a>
									</li>
									<li class="dropdown-submenu">
										<a href="{C.G5_BBS_URL}/respond.php" target="_blank">내글반응 <span class="badge badge-red rounded-2x">{respond}</span></a>
									</li>
									<li class="dropdown-submenu">
										<a href="{C.G5_BBS_URL}/mine.php">내가 쓴 글</a>
									</li>
									<li class="dropdown-submenu">
										<a href="{C.G5_BBS_URL}/mine.php?type=cmt">내가 쓴 댓글</a>
									</li>
									<li class="dropdown-submenu">
										<a href="{C.G5_BBS_URL}/member_confirm.php?url={C.G5_BBS_URL}/register_form.php">내 정보수정</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--{/}-->

		<!--{* Basic Body *}-->
		<div class="basic-body container">
			<div class="row">
				<!--{? eyoom.use_main_side_layout == 'y'}-->
				<div class="basic-body-main col-sm-9">
				<!--{:}-->
				<div class="basic-body-main col-md-12">
				<!--{/}-->
<!--{* 모바일 화면 끝 *}-->
<!--{/}-->

<!-- {* !_wmode END *} -->
<!--{/}-->
