<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<!--{? !_wmode }-->
				</div>
				<!--{? (defined('_INDEX_') && eyoom.use_main_side_layout == 'y') || (!defined('_INDEX_') && eyoom.use_sub_side_layout == 'y' && subinfo.sidemenu != 'n')}-->
				{# side_bs}
				<!--{/}-->
				<div class="clearfix"></div>
			</div><!--{* End row *}-->
	    </div><!--{* End container *}-->
	    <!--{* End Basic Body *}-->

	    <!--{* Footer *}-->
	    <div class="footer footer-light">
	        <div class="copyright">
	            <div class="container">
	                <p class="text-center">Copyright &copy; {config.cf_title}. All Rights Reserved.</p>
	            </div>
	        </div>
	    </div>
	    <!--{* End Footer *}-->
    </div><!--{* End Header Fixed *}-->
</div><!--{* End wrapper *}-->
<!--{/}-->

<script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="../js/jquery.sidebar.min.js"></script>
<script type="text/javascript" src="../js/back-to-top.js"></script>
<script type="text/javascript" src="../plugins/eyoom-form/plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../plugins/eyoom-form/plugins/jquery-form/jquery.form.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>

<!--[if lt IE 9]>
	<script src="../js/respond.js"></script>
	<script src="../js/html5shiv.js"></script>
	<script src="../plugins/eyoom-form/js/eyoom-form-ie8.js"></script>
<![endif]-->
{# tail_sub}
